.cell-line {
  fill: none;
  stroke: green;
  stroke-width: 1.5px;
}

.cell-line-min {
  fill: none;
  stroke: lightskyblue;
  stroke-width: 1px;
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: 8px;
  font: 12px sans-serif;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  pointer-events: none;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
}
